<!DOCTYPE html>
<html>
<head>
    <title>Vue Task List</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1>Vue Loops</h1>
        <label for="new-task">Please enter your to-do task: </label>
        <input v-model="newTask" id="new-task">
        <button v-on:click="addTask">Add Task</button>

        <h2>Your task list</h2>
        <ul>
            <li v-for="task in taskList">
                {{ task }}
            </li>
        </ul>   

    </div>

    <script>

        const { createApp, ref } = Vue 

        createApp({
            setup() {

                const taskList = ref([])  // empty array 
                const newTask = ref('')   // empty string

                const addTask = () => {
                    if (newTask.value) { // if a task is entered,
                        taskList.value.push(newTask.value)   // add to the task list
                        newTask.value = ''  // clear the text in the input
                    }
                }

                return {
                    // reactive data
                    taskList,
                    newTask,

                    // functions 
                    addTask
                }  
            }
        }).mount('#app')

    </script>

</body>
</html>


